<h1><%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>

<h2>Hero Name: <%= @hero1_name %></h2>

Hero Power: <%= @hero1_power %>
Hero Biography: <%= @hero1_biography %>

<h2>Hero Name: <%= @hero2_name %></h2>

Hero Power: <%= @hero2_power %>
Hero Biography: <%= @hero2_biography %>

<h2>Hero Name: <%= @hero3_name %></h2>

Hero Power: <%= @hero3_power %>
Hero Biography: <%= @hero3_biography %>
