<h1><%=params["team"]["name"]%></h1>
Team Motto:
<%=params["team"]["motto"]%>
<br>
Hero Name: <%=params[:team][:memebers][0][:name]%>
<br>
Hero Power: <%=params[:team][:memebers][0][:power]%>
<br>
Hero Biography: <%=params[:team][:memebers][0][:bio]%>
<br>
Hero Name: <%=params[:team][:memebers][1][:name]%>
<br>
Hero Power: <%=params[:team][:memebers][1][:power]%>
<br>
Hero Biography: <%=params[:team][:memebers][1][:bio]%>
<br>
Hero Name: <%=params[:team][:memebers][2][:name]%>
<br>
Hero Power: <%=params[:team][:memebers][2][:power]%>
<br>
Hero Biography: <%=params[:team][:memebers][2][:bio]%>
